APP_ENV=local
APP_DEBUG=true
APP_KEY=oPzgjvuSnJbztwuC890DQ2oditg148Cm

DB_HOST=127.0.0.1
DB_DATABASE=lwj.com.tmp
DB_USERNAME=root
DB_PASSWORD=


DB_BBS_HOST=172.16.100.3
DB_BBS_DATABASE=lwj_family
DB_BBS_USERNAME=dev
DB_BBS_PASSWORD=dev


CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

ADMIN_DOMAIN=webadmin.liweijia.com
MOBILE_DOMAIL=m-local.liweijia.com
CRM_DOMAIN=kefu-local.liweijia.com
WWW_DOMAIN=local.liweijia.com
WWW_NOPRE_DOMAIN = liweijia.com
LWJ_OAUTH_HOST = https://api-staging.liweijia.com

ALI_OSS_ENDPOINT = oss-cn-beijing.aliyuncs.com
ALI_OSS_BUCKET = liweijia-test
ALI_SLS_PROJECT = lwj-www-staging


FILE_URL =http://liweijia-test.oss-cn-beijing.aliyuncs.com/
IMAGES_URL =http://img-staging.liweijia.com/

MAIL_DRIVER=smtp
MAIL_HOST=smtp.exmail.qq.com
MAIL_PORT=465
MAIL_USERNAME=support@liweijia.com
MAIL_PASSWORD=LiWeiJia12923591091
MAIL_ENCRYPTION=ssl

LWJ_OAUTH_HOST = https://api-staging.liweijia.com/
LWJ_OAUTH_CLIENT_ID = 3a9d924dd4de4571a46eccef7e484fca
LWJ_OAUTH_CLIENT_SECRET = yF3xE3whtH
LWJ_OAUTH_SCOPE = trust

ERP_REDIS_HOST = 127.0.0.1
ERP_REDIS_PORT = 6379
ERP_REDIS_PWD  = 
ERP_REDIS_DATABASE = 1

SET_KEDAIKE = false

